# contains all additional requirements to run the ```tox .``` in addition to requirements_dev.txt for ```tox -e py36,py37```
bumpversion>=0.5.3
wheel>=0.32.1
watchdog>=0.9.0
benchmarker>=4.0.1
coverage>=4.5.1
# pin sphinx to <2.0 because of https://github.com/readthedocs/sphinx_rtd_theme/issues/746
Sphinx>=1.8.1,<2.0
sphinx-rtd-theme>=0.4.3
numpydoc>=0.9.1
docutils>=0.15.2
flake8>=3.7.7
flake8-eradicate>=0.2.0
twine>=1.12.1
pydeps>=1.7.2
jupyter>=1.0.0
jupyter-core>=4.5.0
notebook>=5.7.8
pytest-xvfb>=1.2.0
git+https://github.com/who8mylunch/Jupyter_Canvas_Widget.git@bd151ae1509c50b5809944dd3294f58b7b069c86
m2r>=0.2.1
